body, html {
    background-color: #8FFFFF;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
    color: #1F3D3D;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8FFFFF;
    border-radius: 45px;
    margin: 30px;
    padding: 10px 10px;
    color: #1F3D3D;
}

.about-text {
    margin: 5%;
    background-color: #8FFFFF;
    border-radius: 45%;
    color: #1F3D3D;
}

.start-here {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn {
    border-radius: 45px;
    color: #1F3D3D;
    background-color: #8FFFFF;
    padding: 10px;
}