---
const { chapter, page, name } = Astro.props
---
<!--
    Here there's almost nothing to change :) you can personalize the style
 -->
<style>
    a {
        background-color: #011634;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    a:hover {
        background-color: white;
        color: #011634;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<a href={`https://bruke.devlucas.page/chapters/${chapter}/pages/${page}`}>
{name}
</a>
