---
import NavComponent from "./Nav-component.astro"
---
<style>
.nav-component {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<nav>
    <div class="nav-component">
        <!--
            Structure:
             <NavComponent chapter="" page="" name="" />
        -->
        <NavComponent chapter="1" page="1" name="Chapter 1" />
    </div>
</nav>
