---
import NavComponent from "./Nav-component.astro"
---
<style>
/* This makes the Chapter button centralized */
.nav-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* This style the button */
a {
    background-color: #011634;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
    a:hover {
    background-color: white;
    color: #011634;
    padding: 10px;
    border-radius: 5px;
}
</style>

<nav>
    <div class="nav-component">
        <a href="https://bruke.devlucas.page/">
            Home page
        </a>
        <!--
            Structure:
             <NavComponent chapter="" page="" name="" />
        -->
        <NavComponent chapter="1" page="1" name="Chapter 1" />
    </div>
</nav>
