---
const { chapter, page, name } = Astro.props
---
<!--
    Here there's almost nothing to change :) you can personalize the style
 -->
<style>
    a {
        font-family: monospace;
        align-items: center;
        color: #011634;
        background-color: #8FFFFF;
        margin: 5px;
        padding: 10px;
        border-radius: 45px;
    }
</style>

<a href={`https://bruke.devlucas.page/chapters/${chapter}/pages/${page}`}>{name}</a>
